# Sistema operacional
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Logs
*.log

# Backups e compactados
*.zip
*.rar
*.7z
*.bak
*.old

# Temporários
tmp/
temp/

# Ambiente
.env
.env.local

# Banco de dados local
*.sql
*.dump

# Dependências futuras
vendor/
node_modules/
composer.lock